@import "../theme";
@import "bourbon";

/*
  Fonts
    fonts are overwritten by /fonts css files
*/

body, textarea, pre, input, li {
  font: 20px/1.4em 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, #text-title * {
}

#text-title,
#text-title pre,
#text-title textarea,
h1 {
  font-size: 28px;
  letter-spacing: -1px;
}

h1.external {}

h2 {
  font-size: 22px;
  color: rgba(0,0,0,0.8);
}

h3 {
  font-size: 20px;
  color: rgba(0,0,0,0.8);
}

h1, h2, h3, h4, #text-title {
  line-height: 1.2em;
  margin: 1.25em 0 .25em 0;
}

/*
  Place things inside #body to not affect the admin
*/

$header-width: 240px;
$header-pad: 40px;
$content-pad: 60px;

#body {
  header {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $header-width;
    @include linear-gradient(top, #fff 0%, #ccc 50%, #fff 100%);

    .inner {
      width: auto;
      position: absolute;
      top: 0;
      left: 1px;
      right: 0;
      bottom: 0;
      background: #fff;
    }

    #header-content {
      padding: $content-pad 20px;
    }

    h1 {
      margin-top: 10px;
      position: relative;
      font-size: 18px;

      a {
        color: $logo;
        vertical-align: middle;

        &:before {
          content: "";
          position: absolute;
          top: -40px;
          font-family: FontAwesome;
        }
      }
    }

    p {
      color: rgba(0,0,0,0.4);
      margin: 0;
      font-size: 14px;
      line-height: 1.4em;
    }

    #connect {
      margin: 15px 0 8px;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        display: inline;

        #connect-email {
          display: none;
        }

        a {
          margin: 0 3px;
          color: rgba(0,0,0,0.3);

          &[class^="icon"],
          &[class*=" icon-"] {
            display: inline-block;
            height: 20px;
            width: 28px;
            overflow: hidden;

            &:before {
              font-size: 26px;
            }
          }

          &.icon-twitter {
            line-height: 1.2em;

            &:before {
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  footer {
    display: block;
    font-size: 16px;
    color: #999;
    padding: 1em 0;
    margin: 2em $header-width - $header-pad 0 0;
    line-height: 3em;
    text-align: center;

    aside {
      display: block;
      font-size: .9em;
    }
  }

  .inner {
    width: auto;
  }

  #content {
    margin: $content-pad auto;
    padding: 0 0 0 $content-pad;
    max-width: 1000px;

    .inner {
      margin-right: $header-width + $content-pad;
    }
  }

  .signature {
    border-top: none;
    padding-top: 0;
    margin: 4em 0;
    color: rgba(0,0,0,0.6);

    &:before {
      content: "";
      display: block;
      margin: 0 auto 4em;
      width: 6px;
      height: 6px;
      border-radius: 10px;
      background: #ccc;
    }
  }

}

/* Medium */
@media only screen and (max-width: 1024px) {
  #body {
    header {
      width: 180px;

      #header-content {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    #content .inner {
      margin-right: 180px + $content-pad;
    }
  }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) {
  #body {
    header {
      position: relative;
      top: auto;
      left: auto;
      margin: 0 auto -20px;
      padding: 0 60px;
      background: none;
      width: auto;

      .inner, #header-content {
        position: relative;
        top: auto;
        margin: 0;
      }
    }

    #content .inner {
      margin-right: 60px;
    }
  }
}
