@import "bourbon";
@import "theme";

form {
  .field {
    margin: 0 0 .8em 0;
  }

  label {
    margin: 0 0 2px 0;
    display: block;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
  }

  .error-messages {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      color: red;
      margin: 0 0 .6em 0;
    }
  }

  input, textarea {
    border: none;
    outline: none;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 8px;
    border: none;
    background: rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 100%;
    line-height: 1.4em;

    &:focus {
      background: #fff;
      @include box-shadow(0 0 12px rgba(0,0,0,0.2));
    }
  }

  input[type="submit"] {
    display: block;
    border: none;
    border-radius: 4px;
    background: $theme;
    color: #fff;
    width: 100%;
    font-size: 14px;
    padding: 8px 0;
    font-weight: bold;
    line-height: 1.4em;

    &:focus {
      background: $theme-light;
      @include box-shadow(0 0 12px rgba(0,0,0,0.2));
    }
  }
}