@import "bourbon";
@import "theme";

::selection, ::-moz-selection {
  background: $selection-bg;
  color: $selection-color;
}

* { @include box-sizing(border-box); }

body {
  background: $body-bg;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

#body {
  background: $body-bg;
  position: relative;
  overflow: hidden;
}

.inner {
  width: $width;
  position: relative;
  margin: 0 auto;
}


/*    BASE ELEMENTS    */

p, ol, ul {
  margin: .5em 0 1em;
}

li {
  margin: .5em 0;
}

a,
a:visited
a:active {
  color: $theme;
  text-decoration: none;
  @include transition(all .1s linear);
}

a:hover,
#admin #published h3 a:hover {
  color: $theme-light !important;
}


/*    BODY ELEMENTS    */

aside {
  position: relative;
  display: block;
}

#dialog {
  margin-top: -2em;
  margin-bottom: 2em;
  padding: 5px;

  &.notice {
    color: #887a26;
    background: rgba(#887a26, 0.1);
  }

  &.alert {
    color: #ec2420;
    background: rgba(#ec2420, 0.1);
  }
}

#blog-button {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(0,0,0,0.1);
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 100;
  @include transition(all .3s ease-in);

  &:hover {
    border-top-color: $theme;
  }
}

.not-logged-in {
  #blog-button {
    border-top-color: #fff;

    &:hover {
      border-top-color: #ccc;
    }
  }
}

nav.pagination {
  text-align: center;
  margin: 60px 0;
  padding: 0;
}

nav.pagination a {
  margin: 0 15px;
  font-weight: bold;
}

/* nonsense */

.clearfix:before, .clearfix:after {
  content:'';
  display:table;
}

.hide {
  visibility: hidden;
  height: 1px;
  clip:rect(0 0 0 0);
  position: absolute;
}