@import "bourbon";
@import "theme";

#content {
  clear: both;
  color: rgba(0,0,0,0.7);

  article {
    padding: 0;
    margin: 0 0 1em 0;
    position: relative;

    embed, object {
      width: 100%;
    }
  }

  time {
    margin: -.5em 0 1em;
    padding: 0;
    color: rgba(0,0,0,0.4);
    display: block;
    font-size: 14px;
  }

  h1 {
    margin: .75em 0 .25em 0;

    &.external {
      margin-top: 25px;

      .permalink {
        margin-left: 8px;
        font-size: 19px;
        color: rgba(0,0,0,0.5);
        border: none;
      }
    }

    a {
      border: none;
    }
  }

  p {
    img {
      display: block;
      margin: 2em auto;
    }
  }

  blockquote {
    margin: 1em 40px 1em 20px;
    padding: 0 20px;
    border-left: 5px solid lightblue;
  }

  code {
    padding: 20px;
    display: block;
    white-space: pre;
    font: 14px/24px 'Pragmata Pro', 'Droid Sans Mono', Monaco, Consolas, 'Ubuntu Mono', monospace !important;
    margin: 1em 0;
  }

  nav.history {
    margin: 4em 0 0;
    padding: 0 0 4em 0;

    a {
      max-height: 2em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 48%;
    }

    .next {
      float: right;
      padding-right: 10px;

      &:before {
        content: " »";
        display: inline-block;
        float: right;
      }
    }

    .prev {
      float: left;

      &:before {
        content: "« ";
      }
    }
  }
}

.signature {
  margin: 3em 0 0;
  border-top: 1px solid #eee;
  text-align: center;
  padding: 3em 0 1em;
  font-size: .9em;

  a {
    font-weight: bold;
  }
}

.inner img {
  max-width: 100%;
  height: auto;
}