.highlight { background: #fdf5dd; color: #657b83; }
.highlight .w { color: #fdf6e3; }
.highlight .err { color: #dc322f; }
.highlight .x { color: #657b83; }

.highlight .c { color: #93a1a1; font-style: italic; }
.highlight .cm { color: #93a1a1; font-style: italic; }
.highlight .cp { color: #93a1a1; font-style: italic; }
.highlight .c1 { color: #93a1a1; font-style: italic; }
.highlight .cs { color: #93a1a1; font-style: italic; }

.highlight .k { color: #859900; }
.highlight .kc { color: #859900; }
.highlight .kd { color: #859900; }
.highlight .kn { color: #cb4b16; }
.highlight .kp { color: #cb4b16; }
.highlight .kr { color: #859900; }
.highlight .kt { color: #859900; }

.highlight .o { color: #657b83; }
.highlight .ow { color: #859900; }

.highlight .n { color: #586e75; }
.highlight .na { color: #657b83; }
.highlight .nb { color: #268bd2; }
.highlight .bp { color: #268bd2; font-style: bold; }
.highlight .nc { color: #268bd2; }
.highlight .no { color: #b58900; }
.highlight .nd { color: #cb4b16; }
.highlight .ni { color: #cb4b16; }
.highlight .ne { color: #cb4b16; }
.highlight .nf { color: #268bd2; }
.highlight .py { color: #268bd2; }
.highlight .nc { color: #657b83; }
.highlight .nn { color: #b58900; }
.highlight .nx { color: #657b83; }
.highlight .nt { color: #859900; }
.highlight .nv { color: #cd4b16; }
.highlight .vc { color: #268bd2; }
.highlight .vg { color: #268bd2; }
.highlight .vi { color: #268bd2; }

.highlight .m { color: #2aa198; }
.highlight .mf { color: #2aa198; }
.highlight .mh { color: #2aa198; }
.highlight .mi { color: #2aa198; }
.highlight .il { color: #2aa198; }
.highlight .mo { color: #2aa198; }

.highlight .l { color: #657b83; }
.highlight .ld { color: #657b83; }

.highlight .p { color: #657b83; }

.highlight .s { color: #2aa198; }
.highlight .sb { color: #2aa198; }
.highlight .sc { color: #2aa198; }
.highlight .sd { color: #2aa198; }
.highlight .s2 { color: #2aa198; }
.highlight .se { color: #cb4b16; }
.highlight .sh { color: #2aa198; }
.highlight .si { color: #cb4b16; }
.highlight .sx { color: #2aa198; }
.highlight .sr { color: #2aa198; }
.highlight .s1 { color: #2aa198; }
.highlight .ss { color: #2aa198; }

.highlight .g { color: #657b83; }
.highlight .gd { color: #657b83; }
.highlight .ge { color: #657b83; }
.highlight .gr { color: #657b83; }
.highlight .gh { color: #657b83; }
.highlight .gi { color: #657b83; }
.highlight .go { color: #657b83; }
.highlight .gp { color: #657b83; }
.highlight .gs { color: #657b83; }
.highlight .gu { color: #657b83; }
.highlight .gt { color: #657b83; }

