
.highlight {background-color:#002B36; color:#93a1a1}
.highlight .c {color:#586e75;font-style:italic }
.highlight .cm {color:#586e75;font-style:italic }
.highlight .cp {color:#586e75;font-style:italic }
.highlight .c1 {color:#586e75;font-style:italic }
.highlight .cs {color:#586e75;font-weight:bold;font-style:italic }
.highlight .err {color:#dc322f;background:none }
.highlight .k {color:#cb4b16 }
.highlight .o {color:#93a1a1;font-weight:bold }
.highlight .p {color:#93a1a1 }
.highlight .ow {color:#2aa198;font-weight:bold }
.highlight .gd {color:#93a1a1;background-color:#372c34;display:inline-block}
.highlight .gd .x {color:#93a1a1;background-color:#4d2d33;display:inline-block}
.highlight .ge {color:#93a1a1;font-style:italic }
.highlight .gr {color:#aa0000}
.highlight .gh {color:#586e75 }
.highlight .gi {color:#93a1a1;background-color:#1a412b;display:inline-block}
.highlight .gi .x {color:#93a1a1;background-color:#355720;display:inline-block}
.highlight .go {color:#888888}
.highlight .gp {color:#555555}
.highlight .gs {color:#93a1a1;font-weight:bold }
.highlight .gu {color:#6c71c4 }
.highlight .gt {color:#aa0000}
.highlight .kc {color:#859900;font-weight:bold }
.highlight .kd {color:#268bd2 }
.highlight .kp {color:#cb4b16;font-weight:bold }
.highlight .kr {color:#d33682;font-weight:bold }
.highlight .kt {color:#2aa198 }
.highlight .n {color:#268bd2 }
.highlight .na {color:#268bd2 }
.highlight .nb {color:#859900 }
.highlight .nc {color:#d33682 }
.highlight .no {color:#b58900 }
.highlight .ni {color:#800080}
.highlight .nl {color:#859900 }
.highlight .ne {color:#268bd2;font-weight:bold }
.highlight .nf {color:#268bd2;font-weight:bold }
.highlight .nn {color:#b58900 }
.highlight .nt {color:#268bd2;font-weight:bold }
.highlight .nx {color:#b58900 }
.highlight .bp {color:#999999}
.highlight .vc {color:#008080}
.highlight .vg {color:#268bd2 }
.highlight .vi {color:#268bd2 }
.highlight .nv {color:#268bd2 }
.highlight .w {color:#bbbbbb}
.highlight .mf {color:#2aa198 }
.highlight .m {color:#2aa198 }
.highlight .mh {color:#2aa198 }
.highlight .mi {color:#2aa198 }
.highlight .mo {color:#009999}
.highlight .s {color:#2aa198 }
.highlight .sb {color:#d14}
.highlight .sc {color:#d14}
.highlight .sd {color:#2aa198 }
.highlight .s2 {color:#2aa198 }
.highlight .se {color:#dc322f }
.highlight .sh {color:#d14}
.highlight .si {color:#268bd2 }
.highlight .sx {color:#d14}
.highlight .sr {color:#2aa198 }
.highlight .s1 {color:#2aa198 }
.highlight .ss {color:#990073}
.highlight .il {color:#009999}
.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x {display:inline-block;width:100%}
