<div id="drafts" class="col">
  <h1>Ideas <a href="/new">New Idea</a></h1>
  <%= form_for @post do |f| %>
    <%= f.text_field :title, :placeholder => 'Start typing an idea here...' %>
  <% end %>
  <ul>
  <%= render :partial => 'li', :collection => @drafts %>
  </ul>
</div>

<div id="published" class="col">
  <h2>Published</h2>
  <ul>
    <%= render :partial => 'li', :collection => @published %>
  </ul>
</div>