/*  Colors  */
$title: #000;
$border: #555;

$light-blue: #C7EEFE;
$lighter-blue: #e1f5fc;
$light-grey: #f6f6f6;
$playing: #666;
$light-yellow: #ffd;


@mixin box-sizing($type) {
          box-sizing: $type;
      -ms-box-sizing: $type;
     -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
}


@mixin dim($percent) {
  background: rgba(0,0,0,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000$percent,endColorstr=#000000$percent);
}

@mixin light($percent) {
  background: rgba(255,255,255,$percent/100);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff$percent,endColorstr=#ffffff$percent);
}


/* Borders */

@mixin border-radius($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin no-border-radius() {
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
}

@mixin border-radius-top($radius: 5px) {
  border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin border-radius-bottom($radius: 5px) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin border-radius-left($radius: 5px) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
}

@mixin border-radius-right($radius: 5px) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-top-right-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
}


/* Gradients */

@mixin background-gradient($start: #fff, $stop: #000) {
  background-color: $stop;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($start), to($stop));
  background-image: -moz-linear-gradient(top, $start, $stop);
  background-image: -ms-linear-gradient(top, $start, $stop);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start), color-stop(100%, $stop));
  background-image: -webkit-linear-gradient(top, $start, $stop);
  background-image: -o-linear-gradient(top, $start, $stop);
  background-image: linear-gradient(top, $start, $stop);
}


/* Shadows */

@mixin box-shadow($horizontal: 0px, $vertical: 0px, $blur: 5px, $color: #333) {
  box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  -webkit-box-shadow: $horizontal $vertical $blur $color;
}

@mixin box-shadow-inset($horizontal: 0px, $vertical: 0px, $blur: 5px, $color: #333) {
  box-shadow: inset $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
}



/* Transitions, Transforms, Animations */

@mixin transition($property: all, $type: linear, $time: 0.2s) {
  -webkit-transition: $property $type $time;
  -moz-transition: $property $type $time;
  transition: $property $type $time;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

@mixin animation($name,$duration,$iteration: infinite) {
  -webkit-animation: $name $duration $iteration;
  -moz-animation: $name $duration $iteration;
  animation: $name $duration $iteration;
}

@mixin animation-none() {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
}
