@import "bourbon";
@import "themes/default";

::selection, ::-moz-selection {
  background: $theme;
  color: $selection-color;
}

* { @include box-sizing(border-box); }

body {
  background: $body-bg;
  color: $text-color;
  -webkit-font-smoothing: antialiased; /* fix for borked text when animating */
  word-wrap: break-word;
}

body, textarea, pre, input, li {
  /* These are overwritten if you include one of the /fonts css files */
  font: 18px/1.8em 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

#body {
  background: $body-bg;
  position: relative;
  border-top: 2px solid $theme;
  overflow: hidden;
  line-height: 1.7em;
}

#content,
.contain,
#post-editor .inner,
header .inner {
  width: $width;
  position: relative;
  margin: 0 auto;
}

/*    H1-H6    */

h1,h2,h3,h4,h5,#text-title * {
  font-weight: normal;
  font-family: 'Open Sans Condensed', Times New Roman, serif;
  line-height: 1.3em;
}

#text-title,
#text-title pre,
#text-title textarea,
h1 {
  font-size: 34px;
  line-height: 1.4em;
}

h1, #text-title {
  margin: 0.67em 0;
}

h1.external {
  font-size: 20px;
}

h2 {
  font-size: 26px;
  color: #777;
}

h3 {
  font-size: 22px;
  color: #999;
}

h2, h3, h4 {
  margin: 1.8em 0 1em 0;
}


/*    BASE ELEMENTS    */

a,
a:visited
a:active {
  color: $theme;
  text-decoration: none;
  @include transition(color .1s linear);
}

a:hover,
#admin #published h3 a:hover {
  color: $theme-light !important;
}

article a,
header p a {
  border-bottom: 1px dotted #ddd;

  &:hover {
    border-bottom-style: solid;
  }
}

ol, ul {
  margin: 2em 0;
}


/*    HEADER    */

header {
  padding: 1em 0;
  margin-bottom: 2em;
  width: 100%;
  border-bottom: 1px solid #eee;

  .inner {
    position: relative;
  }

  h1 {
    position: relative;
    z-index: 10;
    margin: -.2em 0 0;
    font-size: 30px;
    pointer-events: none;

    a {
      display: inline-block;
      pointer-events: auto;
      color: $theme;
    }
  }

  p {
    color: #777;
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 1.8em;
  }

  ul {
    padding: 0;
    margin: 0 -6px;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  li {
    margin: 0;
    display: inline;
    float: left;

    a {
      font-size: 14px;
      padding: 3px 8px;
      color: #333;
    }
  }
}


/*    BODY ELEMENTS    */

#dialog {
  margin-top: -2em;
  margin-bottom: 2em;
  padding: 5px;

  &.notice {
    color: #887a26;
    background: rgba(#887a26, 0.1);
  }

  &.alert {
    color: #ec2420;
    background: rgba(#ec2420, 0.1);
  }
}

#content {
  clear: both;

  article {
    padding: 0;
    margin: 0 0 6em 0;
    position: relative;
  }

  time {
    margin: 0 0 -1.4em 0;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #9a9a9a;
    display: block;
  }

  h1 {
    margin: 1em 0;

    &.external {
      margin-top: 25px;

      .permalink {
        margin-left: 8px;
        font-size: 19px;
        color: #999;
        border: none;
      }
    }

    a {
      border: none;
      color: #000;
    }
  }

  p img {
    display: block;
    margin: 2em auto;
  }

  blockquote {
    margin: 1em 40px 1em 20px;
    padding: 0 20px;
    border-left: 5px solid lightblue;
  }

  li {
    margin: 1em 0;
  }
}

#blog-button {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ddd;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 100;
  @include transition(all .3s ease-in);

  &:hover {
    border-top-color: $theme;
  }
}

.not-logged-in {
  #blog-button {
    border-top-color: #fff;

    &:hover {
      border-top-color: #ccc;
    }
  }
}

code {
  background: #f2f2f2;
  font-family: monospace, serif;
  font-size: 12px;
  padding: 20px;
  display: block;
  white-space: pre;
  max-height: 330px;
  overflow: auto;
  margin: 2em 0;
  @include box-shadow(inset 0 0 20px #ddd);
}

.contain img {
  max-width: 100%;
  height: auto;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
}

#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

#content-fieldset {
  visibility: hidden;
  width: 100%;
}

nav.pagination {
  text-align: center;
  margin: 60px 0;
  padding: 0;
}

nav.pagination a {
  margin: 0 15px;
}

#footer {
  display: block;
  font-size: 14px;
  color: #999;
  margin: 60px 0 30px 0;
  line-height: 3em;
  text-align: center;

  aside {
    display: block;
    font-size: .8em;
  }
}

.goaway {position: absolute; clip: rect(0,0,0,0);}
.clearfix:before, .clearfix:after {content:''; display:table;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
aside {position:relative; display:block;}
input, textarea {outline:none; background:none;}