@import "bourbon";
@import "theme";

::selection, ::-moz-selection {
  background: $theme;
  color: $selection-color;
}

* { @include box-sizing(border-box); }

body {
  background: $body-bg;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

body, textarea, pre, input, li {
  /* These are overwritten if you include one of the /fonts css files */
  font: 18px/1.6em 'Source Sans Pro', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

#body {
  background: $body-bg;
  position: relative;
  overflow: hidden;
}

.inner {
  width: $width;
  position: relative;
  margin: 0 auto;
}

/*    H1-H6    */

#text-title,
#text-title pre,
#text-title textarea,
h1 {
  font-size: 48px;
  letter-spacing: -1px;
}

h1, #text-title {
  margin: 0.67em 0;
}

h1.external {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  color: rgba(0,0,0,0.65);
}

h3 {
  font-size: 20px;
  color: rgba(0,0,0,0.5);
}

h1, h2, h3, h4 {
  line-height: 1.1em;
  margin: 1.25em 0 .5em 0;
}

h1, h2, h3, h4, #text-title *, time {
  font-family: 'Chatype Regular', 'Helvetica Nueue', Helvetica, Arial, sans-serif !important;
}


/*    BASE ELEMENTS    */

a,
a:visited
a:active {
  color: $theme;
  text-decoration: none;
  @include transition(all .1s linear);
}

a:hover,
#admin #published h3 a:hover {
  color: $theme-light !important;
}

ol, ul {
  margin: 2em 0;
}


/*    HEADER    */

header {
  text-align: center;
  padding: 1em 0;
  background: $theme;
  border-bottom: 1px solid rgba(0,0,0,0.04);

  .inner {
    position: relative;
  }

  h1 {
    position: relative;
    z-index: 10;
    margin: 0;
    font-size: 36px;
    pointer-events: none;

    a {
      display: inline-block;
      pointer-events: auto;
      color: #fff;
    }
  }

  p {
    color: rgba(255,255,255,0.6);
    margin: 12px 0 0;
    font-size: 18px;
  }

  a {
    color: #fff;

    &:hover {
      color: lighten($theme, 50%) !important;
    }
  }

  ul {
    margin: 14px 0 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    display: inline;

    a {
      margin: 0 7px -10px;
      color: rgba(0,0,0,0.3);

      &:hover {
        color: #000 !important;
      }

      &[class^="icon"],
      &[class*=" icon-"] {
        display: inline-block;
        height: 30px;
        width: 34px;
        overflow: hidden;

        &:before {
          font-size: 32px;
        }
      }

      &.icon-twitter {
        line-height: 1.7em;

        &:before {
          font-size: 38px;
        }
      }
    }
  }
}


/*    BODY ELEMENTS    */

aside {
  position:relative;
  display:block;
}

#dialog {
  margin-top: -2em;
  margin-bottom: 2em;
  padding: 5px;

  &.notice {
    color: #887a26;
    background: rgba(#887a26, 0.1);
  }

  &.alert {
    color: #ec2420;
    background: rgba(#ec2420, 0.1);
  }
}

#blog-button {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ddd;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 100;
  @include transition(all .3s ease-in);

  &:hover {
    border-top-color: $theme;
  }
}

.not-logged-in {
  #blog-button {
    border-top-color: #fff;

    &:hover {
      border-top-color: #ccc;
    }
  }
}

#post_title {
  width: 100%;
  border: none;
  background: none;
}

#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

#content-fieldset {
  visibility: hidden;
  width: 100%;
}

nav.pagination {
  text-align: center;
  margin: 60px 0;
  padding: 0;
}

nav.pagination a {
  margin: 0 15px;
  font-weight: bold;
}

#footer {
  border-top: 1px solid #eee;
  display: block;
  font-size: 16px;
  color: #999;
  padding: 1em 0;
  margin: 2em 0 0;
  line-height: 3em;
  text-align: center;

  aside {
    display: block;
    font-size: .9em;
  }
}

/* nonsense */

.clearfix:before, .clearfix:after {
  content:'';
  display:table;
}

.hide {
  visibility: hidden;
  height: 1px;
  clip:rect(0 0 0 0);
  position: absolute;
}