@import "bourbon";

.avgrund-active {
  background: #333;
}

.avgrund-popup {
  top: 8%;
  background: #eee;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.15);
  -webkit-transform: scale(1) !important;
  @include box-shadow(0 0 100px rgba(0,0,0,0.5));

  h3 {
    text-transform: uppercase;
    margin: 0 0 .6em 0;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
  }

  form {
    label {
    }
  }
}