@import "mixins.css.scss";

/* TODO: pull out coloring into variables */
$linkhover: red;

.clearfix:before, .clearfix:after {content:''; display:table;}
aside {position:relative; display:block;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
input, textarea {outline:none; background:none;}

html,body {width: 100%; height: 100%; overflow: hidden;}
body {
  background: #fff;
  color: #444;
  overflow: auto;
}

body, textarea, pre, input, li {
  font: 13px/1.9em 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,#text-title *,header li {
  word-wrap: break-word;
  font-weight: normal;
  font-family: 'Oswald', Impact, sans-serif;
  line-height: 1em;
}

h1 {font-size: 24px;}
h1.external {font-size: 22px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}

h1,
#text-title pre,
#text-title textarea {
  font-size: 26px;
}

p {
  margin: 1em 0;
}

a,
a:visited
a:active {
  color: #000;
  text-decoration: none;
}

a:hover,
#admin #published h3 a:hover {
  color: $linkhover !important;
}

.goaway {
  position: absolute;
  clip: rect(0,0,0,0);
}

header {
  width: 540px;
  margin: 0 auto 90px;
  background: #fff;
  z-index: 10000;

  h1 {
      margin: 15px 0;
      height: 17px;
      border-bottom: 1px solid #eee;
      text-align: center;

    a {
      color: #000;
      padding: 0 15px;
      background: #fff;
    }
  }

  span {
    font-size: 11px;
    color: #bbb;
    font-style: italic;
    text-align: center;
    margin: 0 0 -32px;
    display: block;
  }
}

header:before,
header:after,
.clearfix:before,
.clearfix:after, {
  content:"";
  display:table;
}

header ul {
  padding: 0;
  margin: 10px 0;
  list-style-type:none;
}

header li.right {float: right;}
header li {
  margin: 0 8px;
  display: inline;
  font-size: 17px;
  color: #ccc;
  float: left;
}

header li a {
  padding: 2px 0;
  color: #666;
  text-decoration: none;

  &:hover {
    border-color: #777;
    color: #444;
  }
}

body.show #container time {display:block;}

#container {
  padding: 0;
  margin: 0 auto;
  position: relative;

  time {
    display: none;
    margin: -10px 0 18px 0;
    font-size: 11px;
    color: #999;
    text-align: center;
  }
}

#content {
  clear: both;

  section {
    padding: 0;
    margin: 0 0 60px 0;
    position: relative;

    a {
      color: #777;
      display: inline-block;
      border-bottom: 1px dotted #ddd;
      line-height: 1em;
    }

    blockquote {
      margin: 1em 40px 1em 20px;
      padding: 0 20px;
      border-left: 5px solid lightblue;
    }
  }

  a.space-top {
    margin: 60px 0;
  }

  h1 {
    a {
      border: none;
    }
  }

  h1.external {
    margin-top: 25px;

    .permalink {
      margin-left: 8px;
      font-size: 19px;
      color: #999;
      border: none;
    }
  }
}

.show #content section {
  border-bottom: none;
}

code {
  background: #f5f5f5;
  font-family: monospace, serif;
  font-size: 13px;
  padding: 20px;
  display: block;
  @include box-shadow-inset(0, 0, 20px, #ddd);
}

#container,
.contain,
#new_post,
.edit_post {
  width: 440px;
  position: relative;
}

.contain img {
  max-width: 100%;
  height: auto;
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.markdown:before {
  display: block;
  content: "";
  width: 39px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -60px;
  background: url(/assets/markdown.png) no-repeat top left;
}

#text-title {
  margin: 0 0 20px 0;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
}

#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0 0 80px 0;
}

  form .permalink {
   position: absolute;
   left: -34px;
   top: 12px;
   border: none;
   color: #ddd;
  }

.left {
  float: left;
}

.right {
  float: right;
}

.actions {
  position: absolute;
  top: 0;
  right: -60px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin: 0 8px 0 0;
}

#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

.admin-links {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 20px;
  margin: 0;

  li {float: left; margin-left: 6px;}
  a {float: left;}
}

.notice {
  position: absolute;
  top: 0;
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
}

body.posts.edit #admin,
body.posts.new #admin {
  width: 100%;
}

#admin {
  &.editing {
    #content-fieldset {
      display: block;
    }

    #posts {
      display: none;
    }

    #bar {
      visibility: visible;
    }
  }

  #drafts {
  }

  #posts {
    position: absolute;
    top: 92px;
    left: 50%;
    margin-left: -280px;
    width: 560px;
  }

  .contain {
    margin: 0 auto;
  }

  .col {
    width: 280px;
    float: left;
    padding: 0;
    @include box-sizing(border-box);

    &.active {
    }

    h2 {
      font-size: 16px;
      padding: 5px 0;
      margin: 0 0 10px 0;
      color: #999;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 1px solid #eee;
    }

    ul {
      margin: 0 16px 0 0;
      padding: 0;
      overflow: scroll;

      li {
        position: relative;
        line-height: 1.2em;

        &#post-0 {
          font-style: italic;
        }

        &.hidden {
          display: none;
        }

        &.selected a {
          font-weight: bold;
          position: relative;
          color: #000;
        }

        &:hover .links {
          visibility: visible;
        }

        a {
          margin: 0;
          font-size: 13px;
          max-width: 100%;
          text-overflow: ellipsis;
          border: none;
          display: block;
          color: #999;
          padding: 8px 0;

          &:hover {color: $linkhover;}
        }
      }
    }
  }

  textarea,pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
  }

  .expandingArea {
    position: relative;
  }

  .expandingArea > textarea,
  .expandingArea > pre {
    background: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    @include box-sizing(border-box);
    width: 100%;
  }

  .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
  }

  .expandingArea > pre {
    display: none;
  }

  .expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}

#blog-button {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -20px;
  @include transition(all, .2s, ease-in);

  &:hover {
    border-top-color: #ddd;
  }
}

#save-button {
  background: #fff;
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  @include border-radius(8px);
  @include transition(all, .5s, ease-in);

  &:hover {background:#999;}
  &.dirty {background:#ddd;}
  &.saving {background:#f5d7a8;}
  &.saved {background:#baf5a8; @include transform(scale(1.4));}
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

#text-title {
  margin: 20px 0;
}

  #text-title textarea,
  #text-title pre {
    padding: 10px 0;
    line-height: 1.3em;
  }

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
}

#content-fieldset {
  display: none;
  margin-top: -16px;
  overflow: scroll;
}

#post_content {
  border: none;
  width: 100%;
  position: relative;
}

#text-content pre {
  padding: 0 0 20px 0;
}

form .permalink {
 position: absolute;
 left: -34px;
 top: 12px;
 border: none;
 color: #ddd;
}

.split-section {
  &.transition {@include transition(all, .2s, ease-in);}

  @include box-sizing(border-box);
  padding: 0 20px;
  height: 100%;
  position: fixed;
  width: 50%;
}

#post-editor {
  width: 440px;
  left: 50%;
  margin-left: -220px;
  top: 0;
  bottom: 0;
}

#post-preview {
  background: #f0f4fc;
  border-left: 1px solid #dbe3f1;
  right: -50%;
  overflow: scroll;

  h1 {
    margin: 35px 0 17px;
  }
}

#admin.preview {
  #post-editor {
    margin: 0;
    width: 50%;
    left: 0;
  }

  #post-preview {
    right: 0;
    opacity: 1;
  }
}

$bar-background: #f4f4f4;

.preview #bar {
  left: -70px;
  cursor: pointer;

  &:hover {
    background: #ccc;
  }
}

#bar {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  padding: 20px 0;
  background: $bar-background;
  border-right: 1px solid #eee;
  @include box-sizing(border-box);

  &.transition {
    @include transition(all, .3s, ease-in);
  }

  &.hidden {
    opacity: 0 !important;
  }

  a {
    margin: 0 10px 10px;
    line-height: 2em;
    font-size: 11px;
    color: #aaa;
    border: none;
    display: block;
    text-align: center;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.admin-view {
  font-size: 11px;
  margin: 0 10px 2px 0;
  text-transform: uppercase;
}

nav.pagination {
  text-align: center;
  margin: 60px 0;
  padding: 0;
}

  nav.pagination a {
    margin: 0 15px;
  }
