$linkhover: red;


aside {position:relative; display:block;}
ul {list-style-type:none;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
input, textarea {outline:none; background:none;}

body {
  background: #fff;
  color: #222;
  padding: 40px 0;
}

body, textarea, pre, input {
  font-family: 'Average', Georgia, sans-serif;
  line-height: 1.8em;
  font-size: 14px;
}

h1,h2,h3,h4,h5 {
  word-wrap: break-word;
  font-weight: bold;
  line-height: 1.7em;

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}

h1,
.expandingArea.text-title pre,
.expandingArea.text-title textarea {
  font-weight: 900;
  font-size: 18px;
}

h2 {font-size: 16px;}
h3 {font-size: 14px;}

p {
  color: #444;
  line-height: 1.4em;
  margin: 1em 0;
}

a,
a:visited
a:active {
  color: #444;
}

a:hover {
  color: $linkhover;
}

header {
  display: none;

  span {
    color: #888;
    font-weight: 500;

    &.powered-by {
      position: absolute;
      bottom: 20px;
      font-size: 11px;
    }
  }
}

header ul {
  padding: 0;
  margin: 50px 0;
}

header li {
  margin: 0 0 3px 0;
}

header li a {
  padding: 2px 0;
  color: #888;
  border-bottom: 2px solid #eee;

  &:hover {
    border-color: #777;
    color: #444;
  }
}

#container {
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;

  time {
    display: none;
  }
}

#content {
  section {
    padding: 0 0 100px;
    position: relative;
    line-height: .5em;
  }

  h1.aside {
    font-size: 18px;
  }
}

.show #content section {
  border-bottom: none;
}

code {
	font-size: 13px;
	background: #F2F2F2;
	padding: 20px;
	margin: 20px;
	display: block;
}

.contain,
#new_post, .edit_post {
  width: 580px;
}

.contain img {
  max-width: 100%;
  height: auto;
}

#new_post, .edit_post {
  padding: 40px 0;
  margin: 0 auto;
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.markdown::before {
  display: block;
  content: "";
  width: 39px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -60px;
  background: url(/assets/markdown.png) no-repeat top left;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
  margin: 0 0 20px 0;
}

#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0 0 80px 0;
}

#publish-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;

  .contain {
    margin: 0 auto;
    width: 700px;
  }
}

#publish-bar input[type=submit],
#publish-bar a,
.col h1 a,
.col h2 a,
.button {
  display: inline-block;
  padding: 10px;
  color: #999;
  border: none;
  text-decoration: none;
}

  .button.secondary {
    color: #999;
  }

.button.space-top {
  margin-top: 100px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin: 0 4px 0 15px;
}

#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

.admin-links {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 20px;
  margin: 0;

  li {float: left; margin-left: 6px;}
  a {float: left;}
}

.notice {
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 6px 0;
}

#admin {
  width: 800px;
  margin: 0 auto;
  position: relative;

  #drafts {
    float: left;
    border-top: none;
    background: #fff;
    margin: 0 0 20px 0;

    form {
       margin: 20px 0 20px -20px;
       padding: 0 0 0 20px;
       border-left: 4px solid lightblue;
     }

    #post_title {
      width: 350px;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      border-bottom: 1px solid #ddd;
    }
  }

  #published {
    float: right;
    h1 {color: #999;}
    h3 a {color: #999;}
  }

  .col h1,
  .col h2 {
    position: relative;
    text-transform: uppercase;
  }

  .col h1 a,
  .col h2 a {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    padding: 2px 10px;
  }

  .col {
    width: 360px;
    padding: 20px;

    h2 a {
      &:hover {
        background: $linkhover;
      }
    }
  }

.col ul {padding: 0;}
.col li {
    padding: 15px 0;
    position: relative;

    &:hover .links {
      visibility: visible;
    }

    .links {
      position: absolute;
      right: 0;
      top: 14px;
      background: #fff;
      padding: 1px 8px;
      visibility: hidden;

      a {
        color: #999;
                border-radius: 5px;
           -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

        &:hover {
          color: $linkhover;
        }
      }
    }

    h3 {
      margin: 0;
      font-size: 16px;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;

      a {
        border: none;
      }
    }
  }

  textarea,pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
  }

  .expandingArea {
    position: relative;
  }

  .expandingArea > textarea,
  .expandingArea > pre {
    background: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px;
  }

  .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
  }

  .expandingArea > pre {
    display: none;
  }

  .expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}

.admin-view {
  font-size: 11px;
  margin: 0 10px 2px 0;
  font-weight: 900;
  text-transform: uppercase;
}

nav.pagination {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

  nav.pagination a {
    text-decoration: none;
    color: #999;
  }