@import "mixins.css.scss";

/* TODO: pull out coloring into variables */
$theme: #b92c2c;
$bar: #f4f4f4;

html,body {width: 100%; height: 100%; overflow: hidden;}
body {
  background: #fff;
  color: #444;
  -webkit-font-smoothing: antialiased; /* fix for borked text when animating */
  word-wrap: break-word;
  @include box-shadow(inset 0,0,300px,#eee);
}

#body {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

body, textarea, pre, input, li {
  /* These are overwritten if you include one of the /fonts css files */
  font: 15px/1.9em 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

::selection, ::-moz-selection {
  background: $theme;
  color: #fff;
}

#content,
.contain,
#post-editor,
header .inner,
#post_content:before,
#post_content:after {
  width: 480px;
  position: relative;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,#text-title * {
  font-weight: normal;
  font-family: 'Oswald', Impact, sans-serif;
  line-height: 1.3em;
}

#text-title,
#text-title pre,
#text-title textarea,
h1 {
  font-size: 26px;
  line-height: 1.3em;
}

h1, #text-title {
  margin: 0.67em 0;
}

h1.external {font-size: 20px;}

h2 {
  font-size: 18px;
  text-transform: uppercase;
}

h3 {font-size: 16px;
  text-transform: uppercase;
  color: #666;
}

h2, h3 {
  margin: 2em 0 1em;
}

p {
  margin: 1em 0;
}

a,
a:visited
a:active {
  color: #000;
  text-decoration: none;
}

.posts a {
  @include transition(color, .1s, linear);
}

a:hover,
#admin #published h3 a:hover {
  color: $theme !important;
}

header {
  padding: 20px 0 0;
  width: 100%;

  .inner {
    position: relative;
  }

  h1 {
    position: relative;
    z-index: 10;
    margin: 0;
    font-size: 20px;
    text-align: center;
    pointer-events: none;

    a {
      padding: 0 15px;
      display: inline-block;
      pointer-events: auto;
      color: $theme;
    }
  }

  a {
    color: rgba(0,0,0,0.5);
  }

  ul {
    padding: 0 50px;
    margin: 0;
    height: 34px;
    width: 100%;
    text-align: center;
    list-style-type:none;
    position: absolute;
    top: 0;
    @include box-sizing(border-box);
  }

  li.right {float: right;}
  li {
    margin: 0;
    display: inline;
    color: #ccc;
    float: left;

    a {
      font-size: 12px;
      padding: 3px 6px;
      font-weight: bold;

      &:hover {
        border-color: #777;
        color: #444;
      }
    }
  }
}

.clearfix:before,
.clearfix:after, {
  content:"";
  display:table;
}

#container {
  padding: 33px 0;
  position: relative;

  time {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 11px;
    color: #bbb;
    display: block;
    text-align: center;
  }
}

#content {
  clear: both;

  section {
    padding: 0;
    margin: 0 0 38px 0;
    position: relative;

    h1 a {
      color: #000;
    }

    p a {
      color: #777;
      display: inline-block;
      line-height: 1.2em;
      border-bottom: 1px dotted #ddd;
    }

    blockquote {
      margin: 1em 40px 1em 20px;
      padding: 0 20px;
      border-left: 5px solid lightblue;
    }
  }

  h1 {
    a {
      border: none;
    }
  }

  h1.external {
    margin-top: 25px;

    .permalink {
      margin-left: 8px;
      font-size: 19px;
      color: #999;
      border: none;
    }
  }
}

.show #content section {
  border-bottom: none;
}

code {
  background: #f5f5f5;
  font-family: monospace, serif;
  font-size: 13px;
  padding: 20px;
  display: block;
  @include box-shadow-inset(0, 0, 20px, #ddd);
}

.contain img {
  max-width: 100%;
  height: auto;
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.actions {
  position: absolute;
  top: 0;
  right: -60px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin: 0 8px 0 0;
}

#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

.admin-links {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 20px;
  margin: 0;

  li {float: left; margin-left: 6px;}
  a {float: left;}
}

.notice {
  position: absolute;
  top: 0;
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
}

#admin {
  background: #fff;
  position: absolute;
  width: 100%;

  #save-button {display:none;}

  &.editing {
    #content-fieldset {
      display: block;
    }

    #posts {
      display: none;
    }

    #bar {
      visibility: visible;
    }

    #save-button {
      background: #fff;
      width: 12px;
      height: 12px;
      display: inline-block;
      position: absolute;
      bottom: 30px;
      right: 20px;
      border: none;
      @include border-radius(8px);
      @include transition(all, .5s, ease-in);

      &.dirty, &:hover {background:lightyellow;}
      &.saving {background:lightgreen;}
      &.saved {background:#ccc; @include transform(scale(1.4));}
    }
  }

  .contain {
    margin: 0 auto;
  }

  .col {
    width: 50%;
    float: left;
    padding: 0;
    @include box-sizing(border-box);

    &.active {
    }

    h2 {
      font-size: 16px;
      padding: 5px 0;
      margin: 0 0 10px 0;
      color: #999;
      text-transform: uppercase;
      display: inline-block;
      border-bottom: 1px solid #eee;
    }

    ul {
      margin: 0 16px 0 0;
      padding: 0;
      list-style: none;
      overflow: scroll;

      li {
        position: relative;
        line-height: 1.2em;

        &#post-0 {
          font-style: italic;
        }

        &.hidden {
          display: none;
        }

        &.selected a {
          font-weight: bold;
          position: relative;
          color: #000;
        }

        &:hover .links {
          visibility: visible;
        }

        a {
          margin: 0;
          font-size: 13px;
          max-width: 100%;
          text-overflow: ellipsis;
          border: none;
          display: block;
          color: #999;
          padding: 8px 0;

          &:hover {color: $theme;}
        }
      }
    }
  }

  textarea,pre {
    margin: -3px 0; /* not sure why but preventing a slight scroll on multiline titles */
    padding: 3px 0;
    outline: 0;
    border: 0;
  }

  .expandingArea {
    position: relative;
  }

  .expandingArea > textarea,
  .expandingArea > pre {
    background: transparent;
    white-space: pre-wrap;
  }

  .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    @include box-sizing(border-box);
    width: 100%;
  }

  .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
  }

  .expandingArea > pre {
    display: none;
  }

  .expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}

#blog-button {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(255,255,255,0.2);
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: -20px;
  @include transition(all, .3s, ease-in);

  &:hover {
    border-top-color: #ddd;
  }
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

#content-fieldset {
  display: none;
  width: 100%;
}

#post_content {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  position: relative;
}

  /* fade to white */
  #post_content:before,
  #post_content:after {
    content: "";
    display: block;
    position: fixed;
    top: 10px;
    height: 1.5em;
    pointer-events: none;
    background-image: -webkit-gradient( linear, left top, left bottom, from(
        rgba(255, 255, 255, 1)), to(
        rgba(255, 255, 255, 0))
      );
  }

  #post_content:after {
    top: auto;
    bottom: 0;
    background-image: -webkit-gradient( linear, left bottom, left top, from(
        rgba(255, 255, 255, 1)), to(
        rgba(255, 255, 255, 0))
      );
  }

  #admin.preview {
    #post_content:before {top: 0;}
    #post_content:before,
    #post_content:after {
      width: 100%;
    }
  }

#text-content pre {
  padding: 0 0 20px 0;
}

form .permalink {
 position: absolute;
 left: -34px;
 top: 12px;
 border: none;
 color: #ddd;
}

.split-section {
  @include box-sizing(border-box);
  height: 100%;
  position: fixed;
  width: 50%;

  &.transition {@include transition(all, .2s, ease-out);}

  .inner {
    padding: 0 20px;
  }
}

#post-editor {
  padding: 0;

  .inner {
    width: 100%;
    margin: 10px -20px;
    overflow: scroll;
    @include box-sizing(border-box);
  }
}

#post-preview {
  background: #f0f4fc;
  border-left: 1px solid #dbe3f1;
  right: -50%;
  overflow: scroll;
}

#admin.preview {
  #post-editor {
    padding: 0;
    margin: 0;
    width: 50%;
    left: 0;
    position: absolute;

    .inner {
      margin: 0;
    }
  }

  #post-preview {
    right: 0;
  }
}

.preview #bar {
  left: -70px;
  cursor: pointer;

  &:hover {
    background: #ccc;
  }
}

#bar {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  padding: 20px 0;
  background: $bar;
  border-right: 1px solid #eee;
  @include box-sizing(border-box);

  &.transition {
    @include transition(all, .2s, ease-in);
  }

  &.hidden {
    opacity: 0 !important;
  }

  a {
    margin: 0 10px 10px;
    line-height: 2em;
    font-size: 11px;
    color: #aaa;
    border: none;
    display: block;
    text-align: center;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.admin-view {
  font-size: 11px;
  margin: 0 10px 2px 0;
  text-transform: uppercase;
}

nav.pagination {
  text-align: center;
  margin: 60px 0;
  padding: 0;
}

  nav.pagination a {
    margin: 0 15px;
  }


.footer {
  display: block;
  font-size: 11px;
  margin: 60px 0 30px 0;
  text-align: center;
}

.goaway {
  position: absolute;
  clip: rect(0,0,0,0);
}

.clearfix:before, .clearfix:after {content:''; display:table;}
aside {position:relative; display:block;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
input, textarea {outline:none; background:none;}


/* Bootstrap modal */
.modal {display:none;}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 50%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-body {
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}