@font-face {
  font-family: 'Geogrotesque-SemiBold';
  src: url('/fonts/219E67_0_0.eot');
  src: url('/fonts/219E67_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/219E67_0_0.woff') format('woff'), url('/fonts/219E67_0_0.ttf') format('truetype');
}

/* TODO: pull out coloring into variables */
$linkhover: red;

div:before, div:after {content:''; display:table;}

aside {position:relative; display:block;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
input, textarea {outline:none; background:none;}

body {
  background: #fff;
  color: #555;
}

body, textarea, pre, input, li {
  font-family: 'Istok Web', Helvetica, Arial, sans-serif;
  line-height: 1.9em;
  font-size: 13px;
}

h1,h2,h3,h4,h5,#text-title pre,header li {
  word-wrap: break-word;
  font-weight: bold;
  font-family: 'Geogrotesque-SemiBold', sans-serif;
  line-height: 1em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}

h1,
#text-title pre,
#text-title textarea {
  font-weight: 900;
  font-size: 33px;
}

p {
  margin: 1em 0;
}

a,
a:visited
a:active {
  color: #333;
}

a:hover,
#admin #published h3 a:hover {
  color: $linkhover !important;
}

header {
  width: 580px;
  margin: 0 auto 60px;
  background: #fff;
  z-index: 10000;

  h1 {
      margin: 15px 0 30px;
      height: 17px;
      border-bottom: 1px solid #ddd;
      text-align: center;

    a {
      font-size: 24px;
      color: #999;
      padding: 0 15px;
      background: #fff;
    }
  }
}

header:before,
header:after,
.clearfix:before,
.clearfix:after, {
  content:"";
  display:table;
}

header ul {
  padding: 0;
  margin: 10px 0;
  list-style-type:none;
}

header li.right {float: right;}
header li {
  margin: 0 8px;
  display: inline;
  font-size: 17px;
  color: #ccc;
  float: left;
}

header li a {
  padding: 2px 0;
  color: #999;
  text-decoration: none;

  &:hover {
    border-color: #777;
    color: #444;
  }
}

body.show #container time {display:block;}

#container {
  padding: 0;
  margin: 0 auto;
  position: relative;

  time {
    display: none;
    margin: -30px 0 30px 0;
    font-size: 13px;
    color: #999;
    text-align: center;
    font-weight: bold;
  }
}

#content {
  clear: both;

  section {
    padding: 0;
    margin: 0 0 60px 0;
    position: relative;
  }

  h1.external {
    margin-top: 25px;
    font-size: 20px;

    .permalink {
      margin-left: 8px;
      font-size: 19px;
      color: #999;
      border: none;
    }
  }
}

.show #content section {
  border-bottom: none;
}

code {
	font-size: 13px;
	background: #F2F2F2;
	padding: 20px;
	margin: 20px;
	display: block;
}

#container,
.contain,
#new_post,
.edit_post {
  width: 580px;
  position: relative;
}

.contain img {
  max-width: 100%;
  height: auto;
}

#new_post, .edit_post {
  padding: 40px 0;
  margin: 0 auto;
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.markdown:before {
  display: block;
  content: "";
  width: 39px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: -60px;
  background: url(/assets/markdown.png) no-repeat top left;
}

#text-title {
  margin: 0 0 20px 0;
}

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
}

#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0 0 80px 0;
}

  form .permalink {
   position: absolute;
   left: -34px;
   top: 12px;
   border: none;
   color: #ddd;
  }

.left {
  float: left;
}

.right {
  float: right;
}

.actions {
  position: absolute;
  top: 0;
  right: -60px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.actions li {
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  margin: 0 8px 0 0;
}

#post_draft {
  position: relative;
  margin: 0 20px 0 0;
}

.admin-links {
  position: absolute;
  text-align: right;
  top: 18px;
  right: 20px;
  margin: 0;

  li {float: left; margin-left: 6px;}
  a {float: left;}
}

.notice {
  position: absolute;
  top: 0;
  background: lightYellow;
  width: 100%;
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
}

body.posts.edit #admin,
body.posts.new #admin {
  width: 100%;
}

#admin {
  &.editing {
    #content-fieldset {
      display: block;
    }

    #posts {
      display: none;
    }

    #bar {
      display: block;
    }
  }

  #posts {
    position: absolute;
    top: 92px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
  }

  .contain {
    margin: 0 auto;
  }

  .col {
    width: 260px;
    float: left;
    padding: 0 20px;

    &.active {
      ul li h3 a {
        color: #444;
      }

      ul li.selected h3 a {
        color: #000;
      }
    }

    h2 {
      font-size: 12px;
      padding: 8px 0;
      text-transform: uppercase;
      text-align: center;
      background: #f2f2f2;
    }

    ul {
      padding: 0;
      overflow: scroll;

      li {
        padding: 10px 0;
        position: relative;

        &.hidden {
          display: none;
        }

        &.selected h3 a {
          font-weight: bold;
          position: relative;
        }

        &:hover .links {
          visibility: visible;
        }
      }
    }

    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      max-width: 100%;
      text-overflow: ellipsis;

      a {
        border: none;
        display: block;
        color: #999;

        &:hover {color: $linkhover;}
      }
    }
  }

  textarea,pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
  }

  .expandingArea {
    position: relative;
  }

  .expandingArea > textarea,
  .expandingArea > pre {
    background: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .expandingArea > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }

  .expandingArea.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
    overflow: scroll;
  }

  .expandingArea > pre {
    display: none;
  }

  .expandingArea.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}

fieldset.markdown {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

#text-title {
  margin: 20px 0;
  border-bottom: 2px solid #eee;
}

  #text-title textarea,
  #text-title pre {
    padding: 10px 0;
    line-height: 1.3em;
  }

#post_title {
  width: 100%;
  border: none;
  background: none;
  line-height: 45px;
}

#content-fieldset {
  display: none;
}

#post_content {
  border: none;
  width: 100%;
  position: relative;
  margin: 0;
}

form .permalink {
 position: absolute;
 left: -34px;
 top: 12px;
 border: none;
 color: #ddd;
}

#split {
  position: relative;

  #post-preview {
    background: #f0f4fc;
    border-left: 1px solid #dbe3f1;
    right: 0;
    left: auto;
    display: none;
  }

  #post-editor {
    position: fixed;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 0;
    bottom: 0;
  }
}

#split.preview {
  #post-preview {
    display:block;
    overflow: scroll;
  }

  #post-editor {
    left: 0;
    margin: 0;
    width: 50%;
  }
}

.split-section {
  position: fixed;
  width: 50%;
  left: 0;
  top: 0;
  padding: 0;
  height: 100%;
  padding: 0 20px;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  .inner {
    position: relative;
    height: 100%;
  }
}

#bar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  pointer-events: none;
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  div {
    position: fixed;
    padding: 20px;
    pointer-events: auto;
    width: 15%;

    a {
      display: inline;
      margin: 0 0 10px 0;
      color: #ccc;
      border: none;
      font-size: 0.01px;
      display: block;
    }
  }

  .top-left {top: 0; left: 0; bottom: 0; }
  .top-left a {margin-left:30px;}
  .top-right {top: 0; bottom: 0; right: 0; text-align: right;}
  .top-right a {margin-left:84px;}
}

.admin-view {
  font-size: 11px;
  margin: 0 10px 2px 0;
  font-weight: 900;
  text-transform: uppercase;
}

nav.pagination {
  text-align: right;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

  nav.pagination a {
    margin-left: 10px;
  }
