aside {position:relative; display:block;}
ul {list-style-type:none;}
.hide {visibility:hidden; height:1px; clip:rect(0 0 0 0); position:absolute;}
input, textarea {outline:none;}

body {
  background: #fff;
  color: #222;
}

body, textarea, input {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

h1,h2,h3,h4,h5 {
  font-weight: 900;
}

p {
  color: #555;
}

a,
a:visited
a:active {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a:hover {
  color: red;
}

header {
  width: 159px;
  border-right: 1px solid #DDD;
  position: fixed;
  top: 0;
  bottom: 0;
  padding:   20px 40px;
}

  header span {
    color: #888;
    font-weight: 500;
  }

    header span.powered-by {
      position: absolute;
      bottom: 20px;
      font-size: 11px;
    }

  header ul {
    padding: 0;
    margin: 50px 0;
  }

    header li {
      margin: 0 0 12px 0;
    }

    header li a {
      padding: 8px 0;
      color: #888;
      border-bottom: 2px solid #eee;
    }

      header li a:hover {
        border-color: #777;
        color: #444;
      }

#container {
  margin-left: 240px;
  position: relative;
}

  #container time {
    display: block;
    padding: 40px 0 40px 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    background: #eee;
  }

  #content {
  }

    #content section {
      padding: 38px 0 40px 50px;
      border-bottom: 1px solid #ddd;
      position: relative;
    }

      .show #content section {
        border-bottom: none;
      }

    h1.aside {
      font-size: 18px;
    }

    .contain,
    #new_post, .edit_post {
      width: 580px;
    }

    .contain img {
      max-width: 100%;
      height: auto;
    }

  #new_post, .edit_post {
    padding: 40px 0;
    margin: 0 auto;
  }

  fieldset.markdown {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
  }

    .markdown::before {
      display: block;
      content: "";
      width: 39px;
      height: 24px;
      position: absolute;
      top: 4px;
      left: -60px;
      background: url(/assets/markdown.png) no-repeat top left;
    }

  #post_title {
    width: 100%;
    border: none;
    background: none;
    font-size: 35px;
    line-height: 45px;
    font-weight: 900;
    margin: 0 0 20px 0;
  }

  #post_content {
    border: none;
    width: 100%;
    position: relative;
  }

  #publish-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #222;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

    #publish-bar .contain {
      margin: 0 auto;
    }

      #publish-bar input[type=submit],
      #publish-bar a,
      #drafts h1 a,
      .button {
        display: inline-block;
        background: #000;
        padding: 10px;
        font-weight: bold;
        border: none;
        color: #fff;
                border-radius: 5px;
           -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
      }

        #publish-bar input[type=submit]:hover,
        #publish-bar a:hover,
        #drafts h1 a:hover,
        .button:hover {
          background: red;
          color: #fff;
        }

        .button.space-top {
          margin-top: 100px;
        }

      .left {
        float: left;
      }

      .right {
        float: right;
      }

  .actions {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .actions li {
    display: inline-block;
    margin: 0 10px 0 0;
  }

  label {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin: 0 4px 0 15px;
  }

  #post_draft {
    position: relative;
    margin: 0 20px 0 0;
  }

  .admin-new {
    position: absolute;
    top: 28px;
    right: 30px;
  }

  .notice {
    background: lightYellow;
    width: 100%;
    display: block;
    text-align: center;
    padding: 6px 0;
  }

  #admin {
    width: 808px;
    margin: 0 auto;
  }

    #admin #drafts {
      float: left;
      border: 4px solid #000;
      border-top: none;
    }

      #drafts form {
        margin: 20px 0 20px -20px;
        padding: 0 0 0 20px;
        border-left: 4px solid lightblue;
      }

      #drafts #post_title {
        width: 350px;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        border-bottom: 1px solid #ddd;
      }

      #drafts h1 {
        position: relative;
      }

      #drafts h1 a {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        padding: 2px 10px;
      }

    #admin #published {
      float: right;
    }

      #published h2 {
        color: #ccc;
      }

    .col {
      width: 360px;
      padding: 20px;
    }

    .col h1,
    .col h2 {
      text-transform: uppercase;
    }

    .col ul {
      padding: 0;
    }

    .col ul li {
      border-bottom: 1px solid #ddd;
      padding: 15px 20px;
    }

    .col ul li h3 {
      margin: 0;
      font-size: 16px;
    }

    .col ul li h3 a {
      border: none;
    }

    .delete {
      float: right;
      color: #ccc;
      font-weight: normal;
    }

  nav.pagination {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }