@import "theme";

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) {

  #content, .inner, header .inner {
    width: auto;
    margin: 0 8%;
  }

  .contain {
    width: auto;
  }
}


@media only screen and (min-width: 1024px) {
  .inner {
    width: $width-big;
  }
}