$body-bg: #fff;
$header-bg: #fff;
$text-color: #151515;

$logo: #2b3634;

$theme: #d23e2f;
$theme-light: lighten($theme, 14%);

$selection-bg: $theme;
$selection-color: #fff;

$width: 620px;
$width-big: 720px;